{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Inicio{% endblock title %}

{% block content %}

<!-- Carrusel -->
<div class="w-full relative carousel-container overflow-hidden">
  <div class="relative">
    <img src="{% static 'images/banner1.jpg' %}" alt="Slider1"
        class="w-full object-contain rounded-lg fade-carousel"
        style="opacity: 1;">
    <img src="{% static 'images/banner2.jpg' %}" alt="Slider2"
        class="w-full object-contain absolute top-0 left-0 rounded-lg fade-carousel"
        style="opacity: 0;">
    <img src="{% static 'images/banner3.jpg' %}" alt="Slider3"
        class="w-full object-contain absolute top-0 left-0 rounded-lg fade-carousel"
        style="opacity: 0;">
  </div>

  <button id="prev" class="absolute left-2 top-1/2 transform -translate-y-1/2 arrow-btn">&lsaquo;</button>
  <button id="next" class="absolute right-2 top-1/2 transform -translate-y-1/2 arrow-btn">&rsaquo;</button>
</div>

<!-- Sección de productos -->
<div class="mt-8">
  {% include "productos/productos.html" %}
</div>

{% endblock content %}